<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>HOME</h2>
	<p>Welcome home</p>
	<p>Click <a href="/home/info/5">here</a> for info</p>
	<br/>
	<br/>
	<br/>
	<br/>
	<a href="/logout">Logout</a>
</body>
</html>